<% if current_user %>
  <a href="/logout">Log out</a>
<% else %>
  <a href="/auth/githubber">Login</a>
<% end %>

<br>

<h3>We are flappin' some features</h3>

<% if Flipper::Rails.flipper[:parrots].state == :off  %>
  <% Flipper::Rails.flipper[:parrots].enable_group(:admins) %>
<% end %>
<% if Flipper::Rails.flipper[:parrots].enabled? current_user %>
  <% 5.times do %>
    <img src="http://cultofthepartyparrot.com/parrots/tripletsparrot.gif">
  <% end %>
<% else %>
  nothing to see here...
<% end %>
