<%= render 'login' %>

<h3>We are flappin' some features</h3>

<% if feature_enabled? :parrots %>
  <%= feature_flag :parrots do %>
    <% 5.times do %>
      <img src="http://cultofthepartyparrot.com/parrots/tripletsparrot.gif">
    <% end %>
  <% end %>
<% else %>
  nothing to see here...
<% end %>
